name: Fmt

on:
  pull_request:
    branches: [ main, develop ]
    paths:
      - '**/*.rs'
  workflow_dispatch:

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: full
  CARGO_INCREMENTAL: "0"

jobs:
  fmt:
    name: cargo fmt (check)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@9bc92bc5598b4f3bec5d910d352094982cb0c3b9 # 1.92.0

      - name: Cache Cargo/target
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
        with:
          cache-bin: false
          cache-targets: false
          shared-key: pr-fmt-stable-1.92

      - name: cargo fmt (check)
        run: make fmt
